---
layout: home
main_image_path:
main_image_caption: >-
  Growing up in the north of  Sweden Emma has always felt an affinity to nature
  and landscape. Her artwork examines this connection and our relationships with
  the environment we inhabit. Her latest works, multi-layered embroidered
  topographical maps, continue to explore these themes.  When starting a new
  piece, Emma gathers plants and flowers at the site to create a painted
  background. She then meticulously traces and transfers details from various
  maps onto the canvas using freehand embroidery techniques. Finally, she adds
  definition by hand-stitching geographical and man-made features into the
  artwork. Through this process each work becomes a unique representation and
  reimagining of a specific location. These embroidered maps, with their
  painstaking attention to detail, transform the mundane and functional map into
  a slow meditation on landscape and memory.
show_carousel: false
carousel:
  - image: /assets/images/advert-customers.jpg
    caption: A test caption
    alink: /gallery/test/
  - image:
    caption:
    alink:
images:
  - image_path: /uploads/copy-of-img-2813-edited.jpg
    image_title: Mount Stenhouse
    image_description_markdown: >-
      Freehand and hand embroidery on calico, (photographed on Mount Stenhouse,
      Lamma Island, Hong Kong) 135 cm x 115 cm, 2021&nbsp;


      &nbsp;
  - image_path: /uploads/pb113088-2-edited.jpg
    image_title: Mount Stenhouse
    image_description_markdown: >-
      Freehand and hand embroidery on calico, (photographed on Mount Stenhouse,
      Lamma Island, Hong Kong) 135 cm x 115 cm, 2021
  - image_path: /uploads/copy-of-pb113103-edited.jpg
    image_title: Mount Stenhouse
    image_description_markdown: >-
      Freehand and hand embroidery on calico, (photographed on Mount Stenhouse,
      Lamma Island, Hong Kong) 135 cm x 115 cm, 2020
  - image_path: /uploads/mount-stenhouse-1.jpg
    image_title: Mount Stenhouse
    image_description_markdown: Freehand and hand embroidery on stretched calico, 135 cm x 115 cm, 2020
  - image_path: /uploads/20241209-085538-1.jpg
    image_title: Luk Chau I
    image_description_markdown: >-
      Spraypaint, freehand and hand embroidery on stretched calico, 75 cm x 65
      cm, 2020
  - image_path: /uploads/20241209-085333-1.jpg
    image_title: Luk Chau II
    image_description_markdown: >-
      Spraypaint, freehand and hand embroidery on stretched calico, 75 cm x 65
      cm, 2020
  - image_path: /uploads/website.jpg
    image_title: Topography I
    image_description_markdown: >-
      *Topography I*, spraypaint, freehand embroidery and hand stitching on
      reinforced calico, 56 cm x 48 cm, 2019
  - image_path: /uploads/new-edit.jpg
    image_title: Topography II
    image_description_markdown: >-
      *Topography II*, spraypaint, freehand embroidery and hand stitching on
      reinforced calico, 56 cm x 40 cm, 2019
  - image_path: /uploads/4-tracing-i.jpg
    image_title: Tracing I
    image_description_markdown: >-
      *Tracing I*, fabric dye, organza, freehand embroidery and hand stitching
      on calico, 40 cm x 40 cm, 2020
  - image_path: /uploads/5-tracing-ii.jpg
    image_title: Tracing II
    image_description_markdown: >-
      *Tracing II*, fabric dye, organza, freehand embroidery and hand stitching
      on calico, 40 cm x 40 cm, 2020
  - image_path: /uploads/20220207-170420.jpg
    image_title: Yueng Shue Wan
    image_description_markdown: 60 cm x 70 cm
  - image_path: /uploads/img-20210710-093923edit.jpg
    image_title: Pok Fu Lam
    image_description_markdown: 120 cm x 100 cm
  - image_path: /uploads/img-20210424-163228-edit.jpg
    image_title: Annapurna
    image_description_markdown: 79 cm x 67 cm
  - image_path: /uploads/20220529-075806-2-edit-1.jpg
    image_title: Mo Tat Wan
    image_description_markdown: 55 cm x 55 cm
  - image_path: ''
    image_title: ''
    image_description_markdown: ''
_options:
  layout:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  main_image_path: Cover image
  main_image_caption: Alt text for cover image
  carousel: Edit the slideshow
  show_carouse: Show the slideshow
  show_blog: Show your latest posts on the homepage
  posts_number: How many posts to show
  alink: Optional web link from the slide
  caption: optional caption
---
{% if page.main_image_path %}
  <!-- parallax picture please -->
    <figure>
    {% assign alt_text = page.title %}
    {% if page.main_image_caption %} {% assign alt_text = page.main_image_caption %} {% endif %}
    {% include img.html src=page.main_image_path alt=alt_text %}
    <figcaption>{{ alt_text }}</figcaption>
    </figure>
{% endif %}
<article>
{% if page.show_carousel and page.carousel %}
  <section class="slideshow">
    <h2>This is a demo slideshow</h2>
    <div class="flexslider">
        <ul class="slides">
          {% for slides in page.carousel %}
          <li>
            {% if slides.alink %}
               <a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">
            {% endif %}
            {% include img.html src=slides.image width=960 alt=slides.caption %}
            {% if slides.alink %}
              </a>
            {% endif %}
            {% if slides.caption %}
              <p class="flex-caption">{% if slides.alink %}<a href="{{ site.baseurl }}{{ slides.alink }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.alink %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
{% endif %}

<div class="editable">

  <h2 class="text-center">CONTEMPORARY EMBROIDERY</h2>

</div>

{% if page.images[0].image_path %}

    <section class="gallery--list">

      {% for thisimage in page.images %}

        {% assign image = site.default_gallery_image %}
        {% if thisimage.image_path %}
          {% assign image = thisimage.image_path %}
        {% endif %}

          <div class="gallery--box">

            <a href="{% include imgpath.html src=image max-w=1280 %}" class="gallery--link" data-lightbox="gallery" data-title="{{ thisimage.image_title }} - {{ thisimage.image_description_markdown | markdownify }}">

              {% if page.thumb_crop %}

                <!-- cropped square images -->
                {% include img.html src=image width=200 height=200 fit=crop alt=thisimage.image_title %}
                <!-- end cropped square -->

              {% else %}

                <!-- full format images -->
                {% include img.html src=image width=600 fit=clip alt=thisimage.image_title %}
                 <!-- end format images -->
               {% endif %}

               {% if page.display_title %}
                  <figcaption class="gallery--caption">{{ thisimage.image_title }}</figcaption>
              {% endif %}

            </a>



          </div>


      {% endfor %}

    </section>

    {% endif %}
    </article>