---
layout: page
title: ART MAPS @ FRINGE ARTS BATH - MAY 23rd - JUNE 7th
main_image_path: /uploads/screenshot-20250512-104748-drive.jpg
main_image_caption: >-
  My embroidered map Mells and its accompanying piece, Pre-Raphaelite Dream,
  have been selected for  ART MAPS at FRINGE ARTS BATH.
permalink: /posts/
posts_number: 4
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  main_image_path: Image used to represent your page
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
  posts_number: Number of posts to show on this page
---
<div class="editable">
    <p>THE BRODERERS" EXHIBITION - FEBRUARY 25th - MARCH 2nd</p>
  </div>
<section>

  <ul class="posts--list">

    {% for post in site.posts limit: posts_number %}

      {% include post_excerpt.html %}

    {% endfor %}

  </ul>

</section>
