// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.front {

    .page--content {
        @include grid-container;
         @include grid-media ($small) {

        }
    }
    .scrim {
        padding: 20em 0 0 0;
    }
    .gallery--front {
        padding: 0 1em 1em;
    }
    .gallery--list {

        @supports (display: grid) {
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        }
    }

}

.home {
    @include grid-media($large) { // half page width on 488px and above
        @include grid-column(3);
        padding-right: 60px;
    }
}
